@page "/hasta-kaynakli"
@layout MainLayout
@inherits RadzenDeneme.Pages.HastaKaynakliComponent

@using Radzen
@using Radzen.Blazor
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H3" Text="HASTA KAYNAKLI ise ALT NEDENLER">
    </RadzenHeading>
    <RadzenPanel Text="Panel">
      <ChildContent>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenLabel Component="checkbox0" Text="Ortastatik hipotansiyon">
            </RadzenLabel>
            <RadzenCheckBox style="float: right; margin-left: 10px" Name="TemelNeden1AltNeden1" TValue="dynamic">
            </RadzenCheckBox>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenTextArea Cols="30" Rows="2" Name="TemelNeden1AltNeden1Aciklama">
            </RadzenTextArea>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenLabel Component="TemelNeden1AltNeden2" Text="Ağırlık merkezini kaybetme">
            </RadzenLabel>
            <RadzenCheckBox style="float: right; margin-left: 10px" Name="TemelNeden1AltNeden2" TValue="dynamic">
            </RadzenCheckBox>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenTextArea Cols="30" Rows="2" Name="TemelNeden1AltNeden2Aciklama">
            </RadzenTextArea>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenLabel Component="TemelNeden1AltNeden3" Text="Bilişsel bozukluk">
            </RadzenLabel>
            <RadzenCheckBox style="float: right; margin-left: 10px" Name="TemelNeden1AltNeden3" TValue="dynamic">
            </RadzenCheckBox>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenTextArea Cols="30" Rows="2" Name="TemelNeden1AltNeden3Aciklama">
            </RadzenTextArea>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenLabel Component="TemelNeden1AltNeden4" Text="Bilinç kaybı">
            </RadzenLabel>
            <RadzenCheckBox style="float: right; margin-left: 10px" Name="TemelNeden1AltNeden4" TValue="dynamic">
            </RadzenCheckBox>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenTextArea Cols="30" Rows="2" Name="TemelNeden1AltNeden4Aciklama">
            </RadzenTextArea>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenLabel Component="TemelNeden1AltNeden5" Text="Oturma ya da yatma sırasında">
            </RadzenLabel>
            <RadzenCheckBox style="float: right; margin-left: 10px" Name="TemelNeden1AltNeden5" TValue="dynamic">
            </RadzenCheckBox>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenTextArea Cols="30" Rows="2" Name="TemelNeden1AltNeden5Aciklama">
            </RadzenTextArea>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenCheckBox style="float: right; margin-left: 10px" Name="TemelNeden1AltNeden6" TValue="dynamic">
            </RadzenCheckBox>
            <RadzenLabel Component="TemelNeden1AltNeden6" Text="Refakatçiyi rahatsız etmek istememe">
            </RadzenLabel>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenTextArea Cols="30" Rows="2" Name="TemelNeden1AltNeden6Aciklama">
            </RadzenTextArea>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenCheckBox style="float: right; margin-left: 10px" Name="TemelNeden1AltNeden7" TValue="dynamic">
            </RadzenCheckBox>
            <RadzenLabel Component="TemelNeden1AltNeden7" Text="Uygunsuz terlik, ayakkabı kullanımı">
            </RadzenLabel>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenTextArea Cols="30" Rows="2" Name="TemelNeden1AltNeden7Aciklama">
            </RadzenTextArea>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenCheckBox style="float: right; margin-left: 10px" Name="TemelNeden1AltNeden8" TValue="dynamic">
            </RadzenCheckBox>
            <RadzenLabel Component="TemelNeden1AltNeden8" Text="Diğer...">
            </RadzenLabel>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <RadzenTextArea Cols="30" Rows="2" Name="TemelNeden1AltNeden8Aciklama">
            </RadzenTextArea>
          </div>
        </div>
      </ChildContent>
    </RadzenPanel>
  </ChildContent>
</RadzenContent>
